#title {
  background-color: #ff4c68;
  color: white;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#features {
  text-align: center;
  padding: 7% 15% 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
}

#cta {
  text-align: center;
  background-color: #ff4c68;
  color: white;
  padding: 100px;
}

#footer {
  padding: 100px;
  background-color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-bottom: 50px;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h3 {
  font-size: 1.4rem;
  font-family: "Montserrat";
  font-weight: bold;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 3% 15%;
  padding-bottom: 8%;
}

body {
  font-family: 'Montserrat';
}

.navbar {
  padding-bottom: 4.5rem;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.dbutton {
  margin: 5% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.feature {
  padding: 5%;
}

.icons {
  color: #ef8172;
  margin-bottom: 20px;
}

.icons:hover{
  color: #ff4c68;
}

.dog {
  width: 15%;
  border-radius: 50%;
  margin: 20px;
}

#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.logo {
  width: 17%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15% 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
  text-align: center;
}

.dbutton2{
  margin-left: 15px;
  margin-right: 15px;
}

.footericons {
  margin-right: 18px;
  padding-bottom: 25px;
}


@media (max-width: 990px) {

  #title {
    text-align: center;
  }

  .title-image{
    position: static;
    transform: rotate(0);
  }

}
